.DS_Store
.ipynb_checkpoints
notebooks/.ipynb_checkpoints/analysis_pilot3-checkpoint.ipynb notebooks/.ipynb_checkpoints/full_analysis-checkpoint.ipynb notebooks/.ipynb_checkpoints/model-checkpoint.ipynb notebooks/.ipynb_checkpoints/pilot4-checkpoint.ipynb python/.ipynb_checkpoints/Untitled-checkpoint.ipynb
