# Compiled Source #
###################
*.pyc

# Jupyter Notebook Checkpoints #
################################
*.ipynb_checpoints
*_checkpoints.ipynb

# Large Images / Figures #
##########################
*.pdf
*.svg

# Participant Data #
####################
data.csv

# Experimental Stimuli #
########################
stimuli/*