<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

	    <p>
		    You are going to see a series of snapshots from a game called Plinko, where an experimenter is trying to drop 
            a ball so that it hits a goal (see the images below). Your job is to determine whether the ball will hit the
            ball just from the image as fast as possible. If you answer correctly, you'll get a bonus for how quickly
            you responded. But, try not to just answer anything -- it needs to be correct, or else you don't get a bonus.
	    </p>
	    <!-- Insert image of basic plinko game here -->
	    <p>
	    	In this game of Plinko, you'll see various kinds of objects: Nests (which keep the ball from dropping 
            further), Teleporters (which teleport the ball to the other teleporter on the screen), Platforms, Slides,
            and Jumps. See each of them below. We'll watch a video of how each works on the next slide.
        </p>
        <!--  Insert image of each component here -->
	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
